

      <div class="container-fluid navbar-actions">
        <div class="navbar-header">
          <a href="/" class="back">返回</a>
          <span class="navbar-brand" >{{ $.conf.Name }}</span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/config/{{ $.conf.Id }}"><span class="glyphicon glyphicon-wrench"></span>编辑配置</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div id="content" class="container-fluid">
            <div id="left-wapper">
              {{if $.conf.EnableDevStage }}
              <div class="row stage-progress">
                  <h3><span class="glyphicon glyphicon-chevron-right"></span>发布到开发环境</h3>
                  <div class="row stage-run">
                  <a href="javascript:void(0)" class="deploy" data-id="{{ $.conf.Id }}" data-type="dev"><span class="glyphicon glyphicon-play"></span>执行</a>
                  </div>
              </div>
              {{end}}
              {{if $.conf.EnableProdStage }}
              <div class="row stage-progress">
                  <h3><span class="glyphicon glyphicon-chevron-right"></span>发布到产品环境</h3>
                  <div class="row stage-run">
                  <a href="javascript:void(0)" class="deploy" data-id="{{ $.conf.Id }}"  data-type="prod"><span class="glyphicon glyphicon-play"></span>执行</a>
                  </div>
              </div>
              {{end}}
              {{if not  $.conf.EnableDevStage }}
              {{if not  $.conf.EnableProdStage  }}
              <div class="row stage-progress">
                  <h3><span class="glyphicon glyphicon-chevron-right"></span>发布</h3>
                  <div class="row stage-run">
                  <a href="javascript:void(0)"  class="deploy"  data-id="{{ $.conf.Id }}"  data-type=""><span class="glyphicon glyphicon-play"></span>执行</a>
                  </div>
              </div>
               {{end}}
              {{end}}
            </div>
            <div id="right-wapper">

              <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>版本</th><th>场景</th><th>发布时间</th><th>耗时</th><th>操作人</th><th>状态</th><th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{range $.deploys }}
                  <tr>
                        <td>
                         {{if .Enable }}
                              <span class="label label-info" title="当前正在运行的版本">{{ .Version }}</span>
                          {{else}}
                              {{ .Version }}
                          {{end}}
                        </td>
                        <td>
                        {{if eq .Stage "" }}
                        默认
                        {{else}}
                              {{if eq .Stage "dev" }}
                              开发
                              {{else}}
                             产品
                              {{end}}
                        {{end}}
                        </td>
                        <td>{{ .CreatedAt | formatTime }}</td>
                       <td>{{ .ElapsedTime }}秒</td>
                        <td><img src="/avatar/{{ .Operator }}.png?w=48" alt="{{ .Operator }}" width="24px"  height="24px" />&nbsp;&nbsp;{{ .Operator }}</td>
                        <td>
                        {{if eq .Status 0 }}
                        <span class="label label-primary">部署中...</span>
                        {{else}}
                              {{if eq .Status -1 }}
                              <span class="label label-default">失败</span>
                              {{else}}
                              <span class="label label-success">成功</span>
                              {{end}}
                        {{end}}
                        </td>
                       <td>
                              {{if eq .Status 1 }}
                              <a href="javascript:void(0)" class="rollback" data-id="{{ .Id }}">回滚</a> / <a href="javascript:void(0)" class="viewlog" data-id="{{ .Id }}">查看部署日志</a>
                              {{else}}
                              &nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;/ <a href="javascript:void(0)" class="viewlog" data-id="{{ .Id }}">查看部署日志</a>
                              {{end}}
                        </td>
                  </tr>
                  {{end}}
                  </tbody>
              </table>


              <pre id="deploy-shell"></pre>

            </div>
    </div>


    <script type="text/javascript">
    $(function  () {
          $('.deploy').click(function() {
              if (!confirm('确认要执行部署吗？')) {
                    return false;
              }


              var id = $(this).attr('data-id');
              var type = $(this).attr('data-type');
              $('#deploy-shell').html('');
              if (type == "") {
                  $.post('/deploy/' + id, function(data) {
                          if (data.success) {
                                alert("部署成功.");
                          } else {
                                alert("部署失败.");
                          }
                  });
              } else {
                  $.post('/deploy/' + type + "/" + id, function(data) {
                        if (data.success) {
                                alert("部署成功.");
                          } else {
                                alert("部署失败.");
                          }
                  });
              }

              refresh_console();
          });
          $('.viewlog').click(function() {
                var id = $(this).attr('data-id');
                $.getJSON('/deploy/' + id + '/log', function(data) {
                         $('#deploy-shell').html(data.output).show();
                  });
          });
          $('.rollback').click(function() {
                if (!confirm('确认要执行回滚到该版本吗？')) {
                    return false;
                }

                $this = $(this);
                $('#deploy-shell').html('');
                var id = $(this).attr('data-id');
                $.post('/deploy/' + id + '/rollback', function(data) {
                         alert(data.message);
                         $('#deploy-shell').html(data.data).show();
                         if (data.success) {
                                var stage = $this.closest('tr').find('td').eq(1).text();
                                $('.table td .label-info').each(function() {
                                      if ($(this).closest('tr').find('td').eq(1).text() == stage) {
                                            $(this).closest('td').html($(this).text());
                                      }
                                });


                                $td =  $this.closest('tr').find('td').eq(0);
                                var version  = $td.text();
                                $td.html('<span class="label label-info" title="当前正在运行的版本">'+version+'</span>')
                         }
                }, 'JSON');
          });

          refresh_console(0);
    });

   var refreshInterval;
   function refresh_console(interval) {
         if (typeof interval == 'undefined') {
              interval = 2000
         }
          if (refreshInterval != null && typeof refreshInterval != 'undefined') {
                clearInterval(refreshInterval);
          }


          // 两秒刷新下控制台信息
          refreshInterval = setInterval(function() {
              if (interval <= 0) {
                  clearInterval(refreshInterval);
              }
              $.getJSON('/deploy/{{ $.conf.Id }}/progress', function(data) {
                     if (data.output != '') {
                          $('#deploy-shell').html(data.output).show();
                     }
                     if (data.complete) {
                          clearInterval(refreshInterval);
                          refreshInterval = null;
                     }
              });
          }, interval);
   }

    </script>
