
      <div class="container-fluid navbar-actions">
        <div class="navbar-header">
          <a href="/" class="back">返回</a>
          <span class="navbar-brand" >服务器列表</span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" style="margin-top:10px">
            <li><input id="search" placeholder="搜索"></li>
          </ul>
        </div>
      </div>
    </div>


    <div id="content" class="container-fluid">
        <div id="wapper">
        <table class="table">
        <thead>
        <tr>
          <th style="width:5%">序号</th><th>服务器名</th><th>服务器IP</th><th>标签</th><th>最后心跳时间</th><th style="width:10%">操作</th>
        </tr>
        </thead>
        <tbody>
       {{range .servers}}
       <tr class="{{getServerStatusClass .LastHeatbeatTime .Disable}}">
       <td>{{ .Id }}</td>
       <td>{{ .Host }}</td>
       <td>{{ .Ip }}:{{ .Port }}</td>
       <td>{{ .Tags }}</td>
       <td>{{ .LastHeatbeatTime | formatTime }}</td>
       <td>
              <a  href="javascript:void(0)" class="edit" data-id="{{ .Id }}">编辑标签</a>&nbsp;&nbsp;
              {{if .Disable }}
              <a href="javascript:void(0)" class="toggle" data-id="{{ .Id }}">启用</a>&nbsp;&nbsp;
              {{else}}
              <a href="javascript:void(0)" class="toggle" data-id="{{ .Id }}">停用</a>&nbsp;&nbsp;
              {{end}}
              <a href="javascript:void(0)" class="delete" data-id="{{ .Id }}">删除</a>
        </td>
       </tr>
       <tr class="edit-tr"  style="display:none;">
       <td>{{ .Id }}</td>
       <td>{{ .Host }}</td>
       <td>{{ .Ip }}:{{ .Port }}</td>
       <td><input value="{{ .Tags }}" >(以逗号","分隔多个)</td>
       <td>{{ .LastHeatbeatTime | formatTime }}</td>
       <td>
               <a href="javascript:void(0)" class="cancel" data-id="{{ .Id }}">取消</a>&nbsp;&nbsp;
              <a  href="javascript:void(0)" class="update" data-id="{{ .Id }}">更新</a>

        </td>
       </tr>
        {{end}}
        </tbody>
        </table>
        </div>
    </div>

    <script type="text/javascript">
    $(function () {
        $('#search').on('keyup', function(){
          var keyword = $(this).val();
          $('#content table>tbody tr').each(function(idx, n){
            var host = $(n).find('td').eq(1).text();
            var ip = $(n).find('td').eq(2).text();
            if (host.indexOf(keyword) >= 0 || ip.indexOf(keyword) >= 0) {
              $(n).show();
            } else {
              $(n).hide();
            }
          });
        });


        $('.delete').on('click', function() {
          if (!confirm('确认要删除吗？')) {
            return false;
          }

          $this = $(this);
          var id = $this.attr('data-id');
          $.ajax({
                    url: '/servers/'  + id,
                    type: 'DELETE',
                    dataType: 'JSON',
                    success: function(data){
                      if (data.success) {
                        $tr =  $this.closest('tr');
                        $tr.css('background', 'red');
                        $tr.fadeOut( "slow", function() {
                            $tr.remove();
                          });
                      } else {
                          notify_error('删除失败');
                      }
                    }
          });
        });


        $('.edit').click(function() {
            $(this).closest('tr').hide();
            $(this).closest('tr').next().show();
        });
        $('.cancel').click(function() {
            $(this).closest('tr').hide();
            $(this).closest('tr').prev().show();
        });
        $('.update').click(function() {
            $this = $(this);
             var id = $(this).attr('data-id');
             var tags = $(this).closest('tr').find('input').val();
             tags = $.trim(tags.replace('，', ',').replace(' ', ''));
             $.ajax({
                          url: '/servers/'  + id,
                          type: 'PUT',
                          dataType: 'json',
                          data: {id: id, tags : tags },
                          success: function(data){
                            if (data.success) {
                              $this.closest('tr').prev().find('td').eq(3).html(tags);
                              $(this).closest('tr').find('input').val(tags);
                              $this.closest('tr').find('.cancel').trigger('click');
                              notify('更新成功');
                            } else {
                              notify_error('更新失败');
                            }
                          }
              });
        });
        $('.toggle').click(function() {
             $this = $(this);
             var id = $(this).attr('data-id');
             $.ajax({
                          url: '/servers/'  + id + '/toggle',
                          type: 'PUT',
                          dataType: 'json',
                          success: function(data){
                            if (data.success) {
                              if ($this.text() == '启用') {
                                  $this.closest('tr').removeClass('active');
                                  $this.html('停用');
                                  notify('已启用 ');
                              } else {
                                  $this.closest('tr').addClass('active');
                                  $this.html('启用');
                                  notify('已停用');
                              }
                            } else {
                              notify_error('更新失败');
                            }
                          }
              });
        });

    });
    </script>
